*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav {
    background-color: black;
    border-style: double;
    border-width: 7px;
    border-color: white;
    display: flex;
    font-size: 15px;
    align-items: center;
    justify-content: space-around;
}
nav:hover{
    background-color: rgb(8, 169, 80);
    border-color: black;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    margin-left: 20px;
}

nav a{
    color: white;
}
nav a:hover{
    color: black;
}
marquee{
    margin-top: 3%;
}